/* colors */

* {
  al:      #282828ff;
  bg:      #282828ff;
  se:      #151515ff;
  fg:      #fbf1c7ff;
  ac:      #fbf1c7ff;
  red:     #fbf1c7ff;
  green:   #fbf1c7ff;
  yellow:  #fbf1c7ff;
  blue:    #fbf1c7ff;
  purple:  #fbf1c7ff;
  cyan:    #fbf1c7ff;
}
